   /* Estilos CSS */
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.navbar .menu-toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}
.navbar ul li a:hover {
    color: #ffd700;
}
.container {
    max-width: 800px;
    margin: 80px auto 20px auto; /* Ajuste para deixar espaço abaixo da navbar */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.container h1 {
    font-size: 36px;
    margin-top: 0;
}
/* Estilos para o menu responsivo */
@media only screen and (max-width: 768px) {
    .navbar ul {
        display: none;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 20px 0;
        flex-direction: column;
        text-align: center;
    }
    .navbar ul li {
        margin: 10px 0;
    }
    .navbar .menu-toggle {
        display: block;
    }
}

.header h1 {
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.book {
    margin-bottom: 40px;
    text-align: center;
}
.book img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.book img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}
.book p {
    margin: 10px 0;
    font-size: 18px;
    color: #444;
}
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}
a:hover {
    color: #0056b3;
}